[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"
pytest-cov = "*"

[packages]
geopandas = "*"
marshmallow = "*"
mapbox = "*"
pyyaml = "*"
tqdm = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
